<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<div id="header">
<h2>Project Allotment Portal</h2>

<div id="loginfo">
<% if member_signed_in? %>
  Logged in as <strong><%= current_member.email %></strong>.
  <%= link_to 'Edit profile', edit_member_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_member_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%#= link_to "Sign up", new_member_registration_path, :class => 'navbar-link'  %> 
  <%#= link_to "Login", new_member_session_path, :class => 'navbar-link'  %>
<% end %>

</div>
</div>






<!--
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

-->
<%= yield %>

<div id="footer"></div>

</div>
</body>
</html>
